*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: 711px 1fr;
  grid-template-areas: "result content__details";
  gap: 30px;
}

.content__list-container {
  height: 288px;
  overflow: scroll;
}

.result {
  grid-area: result;
  align-content: end;
}

.content__details {
  display: flex;
  flex-direction: column;
  grid-area: content__details;
  width: 100%;
  max-height: 534px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.content__list-container {
  height: 298px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-description {
  line-clamp: 2;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.result__video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.result__video-container {
  margin-bottom: 16px;
  width: 711px;
  height: 386px;
}

.title {
  font-family: "Oswald";
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
}

.content__card-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.content__video-card-title {
  font-family: "Oswald";
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  width: 196px;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form {
  display: flex;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
  align-items: end;
}

.search-form__textfield {
  color: rgba (255, 255, 255, 0.7);
  background-color: transparent;
  border-bottom: solid 1px white;
  border-top: solid 1px white;
  border-right: none;
  width: 225px;
  height: 27px;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  appearance: none;
}

.search-form__pseudo-checkbox {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  border: 1px solid white;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background-color: transparent;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  border: 1px solid white;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background-color: white;
  position: absolute;
}

.button {
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  align-self: end;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.more-button {
  width: 390px;
  min-width: 100%;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  color: rgba(84, 80, 80, 1);
}

.button:focus {
  outline: 1px solid white;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__list-container {
  position: relative;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:active {
  background-color: rgba(84, 80, 80, 1);
}
