*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1 fr);
  grid-template-areas:
    "result content__details"
    "result content__details";
  width: 711px;
  gap: 16px;
}

.content__list-container {
  max-height: 298px;
  overflow: scroll;
}

.result {
  grid-area: result;
}

.content__details {
  grid-area: content__details;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.search-form {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.content__list-container {
  height: 298px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 140;
}

.content__list-item {
}

.content__list {
  display: grid;
  gap: 30px;
}

.content__video-card {
  display: flex;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.result__video-container {
  margin-bottom: 16px;
  width: 711px;
  height: 386px;
}

.title {
  margin-bottom: 26px;
}
